{% extends "luminouslayout.html" %}

{% block LHeader %}
	<!-- TYPEAHEAD -->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='js/typeahead/typeahead.css') }}" />
	<!-- SELECT2 -->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='js/select2/select2.min.css') }}" />
{% endblock %}

{% block LBody %}
	<div class="container">
		<div class="row">
			<div id="content" class="col-lg-12">
		<!-- PAGE HEADER-->
		<div class="row">
			<div class="col-sm-12">
				<div class="page-header">
			<!-- BREADCRUMBS -->
			<ul class="breadcrumb">
				<li>
					<i class="fa fa-home"></i>
					<a href="{{ url_for('home') }}">Home</a>
				</li>
				<li>
					{{ L_PageTitle }}
				</li>
			</ul>
			<!-- /BREADCRUMBS -->
			<div class="clearfix">
				<h3 class="content-title pull-left">{{ L_PageTitle }}</h3>
			</div>
			<div class="description">{{ L_PageDescription }}</div>
				</div>
			</div>
		</div>
		<!-- /PAGE HEADER -->
		<!-- FORMS -->
		<div class="row">
			<div class="col-md-12">
				<div class="row">
			        <div class="col-md-12">
                        <!-- BASIC -->
                        <div class="box border orange">
                            <div class="box-title">
                                <h4><i class="fa fa-bars"></i>设置</h4>
                            </div>
                            <div class="box-body big">
                                <form id="addUserForm" role="form" method="post" onsubmit="return check()" action="{{ url_for('performUpdateConfig') }}">
                                    <div class="form-group">
                                        <label for="tOrgId">组织的全局唯一ID：</label>
                                        <input name="f_orgid" type="text" class="form-control" id="tOrgId" value="{{ my_orgid }}" disabled>
                                    </div>
                                    <div class="form-group">
                                        <label for="tOrgan">组织名(*)：</label>
                                        <input name="f_organ" type="text" class="form-control" id="tOrgan" value="{{ my_organ }}">
                                    </div>
                                    <div class="form-group">
                                        <label for="tNotifier">当组织信息发生更改时通知这个URL：</label>
                                        <input name="f_notifier" type="text" class="form-control" id="tNotifier" value="{{ my_notifier }}">
                                    </div>
                                    <div class="form-group">
                                        <label for="tDatatype">当前数据版本序列号：</label>
										<input name="f_datatype" type="text" class="form-control" id="tDatatype" value="{{ my_dataversion }}" disabled>
                                    </div>
                                    <br/><br/>
                                    <button type="submit" class="btn btn-success col-md-3">保存</button>
                                    <br/>
                                </form>
                            </div>
                        </div>
                        <!-- /BASIC -->
			        </div>
				</div>
			</div>
		</div>
		<!-- /FORMS -->
		<div class="separator"></div>
		<div class="footer-tools">
			<span class="go-top">
				<i class="fa fa-chevron-up"></i> Top
			</span>
		</div>
			</div><!-- /CONTENT-->
		</div>
	</div>
{% endblock %}

{% block LScript %}
    <!-- TYPEHEAD -->
	<script type="text/javascript" src="{{ url_for('static', filename='js/typeahead/typeahead.min.js') }}"></script>
	<!-- AUTOSIZE -->
	<script type="text/javascript" src="{{ url_for('static', filename='js/autosize/jquery.autosize.min.js') }}"></script>
	<!-- COUNTABLE -->
	<script type="text/javascript" src="{{ url_for('static', filename='js/countable/jquery.simplyCountable.min.js') }}"></script>
	<!-- SELECT2 -->
	<script type="text/javascript" src="{{ url_for('static', filename='js/select2/select2.min.js') }}"></script>


	<script>
        function check(){
            tusr = document.getElementById("tOrgan").value;
            if (tusr.trim() === '') {
                alert("请完整填写表单！");
                return false;
            }
            else {
                alert("更改成功！");
                return true;
            }
        }

		jQuery(document).ready(function() {
				jQuery("#active-configPage").addClass("active");
				jQuery("#selected-configPage").addClass("selected");
				App.setPage("forms");  //Set current page
				App.init(); //Initialise plugins and elements
			});
	</script>
{% endblock %}