{% extends "luminouslayout.html" %}

{% block LHeader %}
	<!-- TYPEAHEAD -->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='js/typeahead/typeahead.css') }}" />
	<!-- SELECT2 -->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='js/select2/select2.min.css') }}" />
{% endblock %}

{% block LBody %}
	<div class="container">
		<div class="row">
			<div id="content" class="col-lg-12">
		<!-- PAGE HEADER-->
		<div class="row">
			<div class="col-sm-12">
				<div class="page-header">
			<!-- BREADCRUMBS -->
			<ul class="breadcrumb">
				<li>
					<i class="fa fa-home"></i>
					<a href="{{ url_for('home') }}">Home</a>
				</li>
				<li>
					{{ L_PageTitle }}
				</li>
			</ul>
			<!-- /BREADCRUMBS -->
			<div class="clearfix">
				<h3 class="content-title pull-left">{{ L_PageTitle }}</h3>
			</div>
			<div class="description">{{ L_PageDescription }}</div>
				</div>
			</div>
		</div>
		<!-- /PAGE HEADER -->
		<!-- FORMS -->
		<div class="row">
			<div class="col-md-12">
				<div class="row">
			        <div class="col-md-12">
                        <!-- BASIC -->
                        <div class="box border orange">
                            <div class="box-title">
                                <h4><i class="fa fa-bars"></i>新建Agent资源</h4>
                            </div>
                            <div class="box-body big">
                                <form id="addUserForm" role="form" method="post" onsubmit="return check()" action="{{ url_for('performAddAgent') }}">
                                    <div class="form-group">
                                        <label for="tName">唯一标识符(*)</label>
                                        <input name="f_name" type="text" class="form-control" id="tName">
                                    </div>
                                    <div class="form-group">
                                        <label for="tLocation">位置(*)</label>
                                        <input name="f_location" type="text" class="form-control" id="tLocation">
                                    </div>
                                    <div class="form-group">
                                        <label for="tNote">备注</label>
                                        <input name="f_note" type="text" class="form-control" id="tNote">
                                    </div>

                                    <div class="form-group">
                                        <label for="tType">类型(*)</label>
                                        <select name="f_type" id="tType" class="form-control col-md-12">
                                            <option value="0">Reentrant</option>
                                            <option value="1">NotReentrant</option>
                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label" for="e2">拥有的能力</label>
                                        <select onchange="checkselect('e2', 'output_bind1')" name="f_accessList" multiple id="e2" class="col-md-12">
                                            {% for capa in capabilityList %}
                                            <option>{{ capa.Name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label" for="e3">所属的部门</label>
                                        <select onchange="checkselect('e3', 'output_bind2')" name="f_accessList" multiple id="e3" class="col-md-12">
                                            {% for grp in groupList %}
                                            <option>{{ grp.Name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label" for="e4">所在的岗位</label>
                                        <select onchange="checkselect('e4', 'output_bind3')" name="f_accessList" multiple id="e4" class="col-md-12">
                                            {% for posi in positionList %}
                                            <option>{{ posi.Name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>

                                    <br/><br/>
                                    <input type="hidden" name="output_capability" id="output_bind1">
                                    <input type="hidden" name="output_group" id="output_bind2">
                                    <input type="hidden" name="output_position" id="output_bind3">
                                    <button type="submit" class="btn btn-success col-md-3">提交</button>
                                    <br/>
                                </form>
                            </div>
                        </div>
                        <!-- /BASIC -->
			        </div>
				</div>
			</div>
		</div>
		<!-- /FORMS -->
		<div class="separator"></div>
		<div class="footer-tools">
			<span class="go-top">
				<i class="fa fa-chevron-up"></i> Top
			</span>
		</div>
			</div><!-- /CONTENT-->
		</div>
	</div>
{% endblock %}

{% block LScript %}
    <!-- TYPEHEAD -->
	<script type="text/javascript" src="{{ url_for('static', filename='js/typeahead/typeahead.min.js') }}"></script>
	<!-- AUTOSIZE -->
	<script type="text/javascript" src="{{ url_for('static', filename='js/autosize/jquery.autosize.min.js') }}"></script>
	<!-- COUNTABLE -->
	<script type="text/javascript" src="{{ url_for('static', filename='js/countable/jquery.simplyCountable.min.js') }}"></script>
	<!-- SELECT2 -->
	<script type="text/javascript" src="{{ url_for('static', filename='js/select2/select2.min.js') }}"></script>


	<script>
        function check(){
            tusr = document.getElementById("tName").value;
            tloc = document.getElementById("tLocation").value;
            if (tusr.trim() === '' || tloc.trim() === '') {
                alert("请完整填写表单！");
                return false;
            }
            else {
                return true;
            }
        }

		jQuery(document).ready(function() {
            jQuery("#active-human").addClass("active");
            jQuery("#selected-human").addClass("selected");
			App.setPage("forms");  //Set current page
			App.init(); //Initialise plugins and elements
		});

        function checkselect(objname, outputname) {
            o = document.getElementById(objname);
            t = document.getElementById(outputname);
            var intvalue="";
            for(i=0;i<o.length;i++){
                if(o.options[i].selected){
                    intvalue+=o.options[i].value+";";
                }
            }
            t.value=intvalue.substr(0,intvalue.length-1);
            console.log(t.value);
        }

    </script>
{% endblock %}