{% extends "luminouslayout.html" %}

{% block LHeader %}
    <!-- DATA TABLES -->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='js/datatables/media/css/jquery.dataTables.min.css') }}" />
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='js/datatables/media/assets/css/datatables.min.css') }}" />
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='js/datatables/extras/TableTools/media/css/TableTools.min.css') }}" />
{% endblock %}

{% block LBody %}
	<div class="container">
		<div class="row">
			<div id="content" class="col-lg-12">
                <!-- PAGE HEADER-->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="page-header">
                            <!-- BREADCRUMBS -->
                            <ul class="breadcrumb">
                                <li>
                                    <i class="fa fa-home"></i>
                                    <a href="index.html">Home</a>
                                </li>
                                <li>{{ L_PageTitle }}</li>
                            </ul>
                            <!-- /BREADCRUMBS -->
                            <div class="clearfix">
                                <h3 class="content-title pull-left">{{ L_PageTitle }}</h3>
                            </div>
                            <div class="description">{{ L_PageDescription }}</div>
                        </div>
                    </div>
                </div>
                <!-- /PAGE HEADER -->
                <!-- DATA TABLES -->
                <div class="row">
                    <div class="col-md-12">
                        <!-- BOX -->
                        <div class="box border blue">
                            <div class="box-title">
                                <h4><i class="fa fa-laptop"></i>Agent资源清单</h4>
                                <div class="tools hidden-xs">
                                    <a onclick="refreshMyself()" class="reload">
                                        <i class="fa fa-refresh"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="box-body">
                                <table id="datatable1" cellpadding="0" cellspacing="0" border="0" class="datatable table table-striped table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Location</th>
                                            <th>Type</th>
                                            <th>Note</th>
                                            <th>Positions</th>
                                            <th>Groups</th>
                                            <th>Capabilities</th>
                                            <th>OP.</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for agent in userList %}
                                            <tr class="gradeX">
                                                <td> {{ agent.Name }} </td>
                                                <td> {{ agent.Location }} </td>
                                                <td>
                                                    {% if agent.Type == 0 %}
                                                    Reentrant
                                                    {% else %}
                                                    Not Reentrant
                                                    {% endif %}
                                                </td>
                                                <td> {{ agent.Note }} </td>
                                                <td> {{ positionList[loop.index - 1] | safe }} </td>
                                                <td> {{ groupList[loop.index - 1] | safe }} </td>
                                                <td> {{ capabilityList[loop.index - 1] | safe }} </td>
                                                <td class="center">
                                                    <a href="{{ url_for('agentManagement') + "edit/" + agent.Name }}">
                                                    <button class="btn btn-xs btn-info">编辑</button>
                                                    </a>
                                                    &nbsp;
                                                    <button onClick="delConfirm('{{ url_for('agentManagement') + "performdelete/" + agent.Name }}')" class="btn btn-xs btn-danger">删除</button>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- /BOX -->
                        <button onClick="addBindingBtn()" class="btn btn-info col-md-1 btn-purple"><i class="fa fa-pencil"></i> 添加</button>
                    </div>
                </div>
                <!-- /DATA TABLES -->

                <div class="footer-tools">
                    <span class="go-top">
                        <i class="fa fa-chevron-up"></i> Top
                    </span>
                </div>
			</div><!-- /CONTENT-->
		</div>
	</div>
{% endblock %}

{% block LScript %}
    <!-- DATA TABLES -->
	<script type="text/javascript" src="{{ url_for('static', filename='js/datatables/media/js/jquery.dataTables.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/datatables/media/assets/js/datatables.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/datatables/extras/TableTools/media/js/TableTools.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/datatables/extras/TableTools/media/js/ZeroClipboard.min.js') }}"></script>
	<script>
		jQuery(document).ready(function() {
			App.setPage("dynamic_table");  //Set current page
			App.init(); //Initialise plugins and elements
            jQuery("#active-agent").addClass("active");
            jQuery("#selected-agent").addClass("selected");
		});
	</script>

    <script language="JavaScript">
         function delConfirm(et) {
             if (confirm("确认要删除？")) {
                window.location.href = et;
             }
         }
         function addBindingBtn() {
             window.location.href = "{{ url_for('addAgent') }}"
         }
         function refreshMyself() {
             window.location.href = "{{ url_for('agentManagement') }}"
         }
    </script>
{% endblock %}


