{% extends "luminouslayout.html" %}

{% block LHeader %}
    <!-- DATE RANGE PICKER -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('LDashboard.static', filename='js/bootstrap-daterangepicker/daterangepicker-bs3.css') }}" />
    <!-- TYPEAHEAD -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('LDashboard.static', filename='js/typeahead/typeahead.css') }}" />
    <!-- FILE UPLOAD -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('LDashboard.static', filename='js/bootstrap-fileupload/bootstrap-fileupload.min.css') }}" />
    <!-- SELECT2 -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('LDashboard.static', filename='js/select2/select2.min.css') }}" />
    <!-- UNIFORM -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('LDashboard.static', filename='js/uniform/css/uniform.default.min.css') }}" />
    <!-- JQUERY UPLOAD -->
    <!-- blueimp Gallery styles -->
    <link rel="stylesheet" href="{{ url_for('LDashboard.static', filename='js/blueimp/gallery/blueimp-gallery.min.css') }}">
    <!-- CSS to style the file input field as button and adjust the Bootstrap progress bars -->
    <link rel="stylesheet" href="{{ url_for('LDashboard.static', filename='js/jquery-upload/css/jquery.fileupload.css') }}">
    <link rel="stylesheet" href="{{ url_for('LDashboard.static', filename='js/jquery-upload/css/jquery.fileupload-ui.css') }}">
{% endblock %}

{% block LBody %}
    <div class="container">
        <div class="row">
            <div id="content" class="col-lg-12">
                <!-- PAGE HEADER-->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="page-header">
                            <!-- BREADCRUMBS -->
                            <ul class="breadcrumb">
                                <li>
                                    <i class="fa fa-home"></i>
                                    <a href="{{ url_for('LDashboard.home') }}">Home</a>
                                </li>
                                <li>
                                    {{ L_PageTitle }}
                                </li>
                            </ul>
                            <!-- /BREADCRUMBS -->
                            <div class="clearfix">
                                <h3 class="content-title pull-left">{{ L_PageTitle }}</h3>
                            </div>
                            <div class="description">{{ L_PageDescription }}</div>
                        </div>
                    </div>
                </div>
                <!-- /PAGE HEADER -->
                <!-- FORMS -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <form role="form" method="post" action="{{ url_for('LDashboard.performNewTemporaryQuery') }}">
                                <div class="col-md-12">
                                    <!-- Phase Configuration -->
                                    <div class="box border grey">
                                        <div class="box-title">
                                            <h4><i class="fa fa-gears"></i><span class="hidden-inline-mobile">Configuration</span></h4>
                                        </div>
                                        <div class="box-body">
                                            <div class="form-group">
                                                <label for="tName">查询工作项的唯一名称(Name)：</label>
                                                <input name="f_name" type="text" class="form-control" id="tName" value="">
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label">Python字典风格的配置描述：</label>
                                                <div>
                                                    <textarea rows="10" cols="5" name="f_configText" class="form-control"></textarea>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group col-md-12">
                                                    <label for="t_ds_shellargs">作业命令行参数</label>
                                                    <input name="f_ds_shellargs" type="text" class="form-control" id="t_ds_shellargs"  value="--total-executor-cores 2 --executor-cores 1 --num-executors 3 --executor-memory 1g">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /Phase Configuration -->
                                    <!-- Phase 0 Clean -->
                                    <div class="box border pink">
                                        <div class="box-title">
                                            <h4><i class="fa fa-trash-o"></i><span class="hidden-inline-mobile">Phase 0 - Clean</span></h4>
                                        </div>
                                        <div class="box-body">
                                            <div class="tabbable header-tabs">
                                                <ul class="nav nav-tabs">
                                                    <li>
                                                        <a href="#box_p0_tab2" data-toggle="tab"><i class="fa fa-code"></i> <span class="hidden-inline-mobile">Python Template</span></a>
                                                    </li>
                                                    <li class="active">
                                                        <a href="#box_p0_tab1" data-toggle="tab"><i class="fa fa-bookmark-o"></i> <span class="hidden-inline-mobile">SQL Template</span></a>
                                                    </li>
                                                </ul>
                                                <div class="tab-content">
                                                    <div class="tab-pane active" id="box_p0_tab1">
                                                        <div class="row">
                                                            <div class="form-group col-md-12">
                                                                <label for="tType_CleanDS">数据源：</label>
                                                                <select name="f_ds_clean" id="tType_CleanDS" class="form-control">
                                                                    {% for bindName in BindingList %}
                                                                        <option>{{ bindName }}</option>
                                                                    {% endfor %}
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="form-group col-md-12">
                                                                <label class="control-label">SQL:</label>
                                                                <div>
                                                                    <textarea rows="3" cols="5" name="f_sql_clean" class="form-control"></textarea>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="tab-pane" id="box_p0_tab2">
                                                        <div class="form-group">
                                                            <label class="control-label">Python code template:</label>
                                                            <div>
                                                                <textarea rows="10" cols="5" name="f_tpl_clean" class="form-control">{{ TemplateList[0] }}</textarea>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /Phase 0 Clean -->
                                    <!-- Phase 1 Preload -->
                                    <div class="box border orange">
                                        <div class="box-title">
                                            <h4><i class="fa fa-truck"></i><span class="hidden-inline-mobile">Phase 1 - Preload</span></h4>
                                        </div>
                                        <div class="box-body">
                                            <div class="tabbable header-tabs">
                                                <ul class="nav nav-tabs">
                                                    <li>
                                                        <a href="#box_p1_tab2" data-toggle="tab"><i class="fa fa-code"></i> <span class="hidden-inline-mobile">Python Template</span></a>
                                                    </li>
                                                    <li class="active">
                                                        <a href="#box_p1_tab1" data-toggle="tab"><i class="fa fa-bookmark-o"></i> <span class="hidden-inline-mobile">SQL Template</span></a>
                                                    </li>
                                                </ul>
                                                <div class="tab-content">
                                                    <div class="tab-pane active" id="box_p1_tab1">
                                                        <div class="row">
                                                            <div class="form-group col-md-12">
                                                                <label for="tType_ds_preloadA">数据源A：</label>
                                                                <select name="f_ds_preloadA" id="tType_ds_preloadA" class="form-control">
                                                                    {% for bindName in SourceList %}
                                                                        <option>{{ bindName }}</option>
                                                                    {% endfor %}
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="form-group col-md-12">
                                                                <label for="t_ds_tablenameA">缓存表名A：（前缀：cache_）</label>
                                                                <input name="f_ds_tablenameA" type="text" class="form-control" id="t_ds_tablenameA">
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="form-group col-md-12">
                                                                <label class="control-label">SQL on A:</label>
                                                                <div>
                                                                    <textarea rows="3" cols="5" name="f_sql_preloadA" class="form-control"></textarea>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="separator"></div>
                                                        <div class="row">
                                                            <div class="form-group col-md-12">
                                                                <label for="tType_ds_preloadB">数据源B：</label>
                                                                <select name="f_ds_preloadB" id="tType_ds_preloadB" class="form-control">
                                                                    {% for bindName in SourceList %}
                                                                        <option>{{ bindName }}</option>
                                                                    {% endfor %}
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="form-group col-md-12">
                                                                <label for="t_ds_tablenameB">缓存表名B：（前缀：cache_）</label>
                                                                <input name="f_ds_tablenameB" type="text" class="form-control" id="t_ds_tablenameB">
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="form-group col-md-12">
                                                                <label class="control-label">SQL on B:</label>
                                                                <div>
                                                                    <textarea rows="3" cols="5" name="f_sql_preloadB" class="form-control"></textarea>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="tab-pane" id="box_p1_tab2">
                                                        <div class="form-group">
                                                            <label class="control-label">Python code template:</label>
                                                            <div>
                                                                <textarea rows="10" cols="5" name="f_tpl_preload" class="form-control">{{ TemplateList[1] }}</textarea>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /Phase 1 Preload -->
                                    <!-- Phase 2 Load data -->
                                    <div class="box border green">
                                        <div class="box-title">
                                            <h4><i class="fa fa-download"></i><span class="hidden-inline-mobile">Phase 2 - Load Data</span></h4>
                                        </div>
                                        <div class="box-body">
                                            <div class="tabbable header-tabs">
                                                <ul class="nav nav-tabs">
                                                    <li>
                                                        <a href="#box_p2_tab2" data-toggle="tab"><i class="fa fa-code"></i> <span class="hidden-inline-mobile">Python Template</span></a>
                                                    </li>
                                                    <li class="active">
                                                        <a href="#box_p2_tab1" data-toggle="tab"><i class="fa fa-bookmark-o"></i> <span class="hidden-inline-mobile">SQL Template</span></a>
                                                    </li>
                                                </ul>
                                                <div class="tab-content">
                                                    <div class="tab-pane active" id="box_p2_tab1">
                                                        <div class="row">
                                                            <div class="form-group col-md-12">
                                                                <label for="tType_ds_loaddata">数据源：</label>
                                                                <select name="f_ds_loaddata" id="tType_ds_loaddata" class="form-control">
                                                                    {% for bindName in SourceList %}
                                                                        <option>{{ bindName }}</option>
                                                                    {% endfor %}
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="form-group col-md-12">
                                                                <label class="control-label">SQL:</label>
                                                                <div>
                                                                    <textarea rows="3" cols="5" name="f_sql_loaddata" class="form-control"></textarea>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="form-group col-md-12">
                                                                <label for="t_ds_tablenameProc">载入数据表名（用于Process阶段的SQL语句）</label>
                                                                <input name="f_ds_tablenameProc" type="text" class="form-control" id="t_ds_tablenameProc">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="tab-pane" id="box_p2_tab2">
                                                        <div class="form-group">
                                                            <label class="control-label">Python code template:</label>
                                                            <div>
                                                                <textarea rows="10" cols="5" name="f_tpl_loaddata" class="form-control">{{ TemplateList[2] }}</textarea>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /Phase 2 Load data -->
                                    <!-- Phase 3 Process -->
                                    <div class="box border blue">
                                        <div class="box-title">
                                            <h4><i class="fa fa-flash"></i><span class="hidden-inline-mobile">Phase 3 - Process</span></h4>
                                        </div>
                                        <div class="box-body">
                                            <div class="tabbable header-tabs">
                                                <ul class="nav nav-tabs">
                                                    <li>
                                                        <a href="#box_p3_tab2" data-toggle="tab"><i class="fa fa-code"></i> <span class="hidden-inline-mobile">Python Template</span></a>
                                                    </li>
                                                    <li class="active">
                                                        <a href="#box_p3_tab1" data-toggle="tab"><i class="fa fa-bookmark-o"></i> <span class="hidden-inline-mobile">SQL Template</span></a>
                                                    </li>
                                                </ul>
                                                <div class="tab-content">
                                                    <div class="tab-pane active" id="box_p3_tab1">
                                                        <div class="row">
                                                            <div class="form-group col-md-12">
                                                                <label class="control-label">SQL:</label>
                                                                <div>
                                                                    <textarea rows="3" cols="5" name="f_sql_process" class="form-control"></textarea>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="tab-pane" id="box_p3_tab2">
                                                        <div class="form-group">
                                                            <label class="control-label">Python code template:</label>
                                                            <div>
                                                                <textarea rows="10" cols="5" name="f_tpl_process" class="form-control">{{ TemplateList[3] }}</textarea>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /Phase 3 Process -->
                                    <!-- Phase 4 Save Result -->
                                    <div class="box border purple">
                                        <div class="box-title">
                                            <h4><i class="fa fa-save"></i><span class="hidden-inline-mobile">Phase 4 - Save Result</span></h4>
                                        </div>
                                        <div class="box-body">
                                            <div class="tabbable header-tabs">
                                                <ul class="nav nav-tabs">
                                                    <li>
                                                        <a href="#box_p4_tab2" data-toggle="tab"><i class="fa fa-code"></i> <span class="hidden-inline-mobile">Python Template</span></a>
                                                    </li>
                                                    <li class="active">
                                                        <a href="#box_p4_tab1" data-toggle="tab"><i class="fa fa-bookmark-o"></i> <span class="hidden-inline-mobile">SQL Template</span></a>
                                                    </li>
                                                </ul>
                                                <div class="tab-content">
                                                    <div class="tab-pane active" id="box_p4_tab1">
                                                        <div class="row">
                                                            <div class="form-group col-md-12">
                                                                <label for="tType_ds_savedata">数据汇：</label>
                                                                <select name="f_ds_savedata" id="tType_ds_savedata" class="form-control">
                                                                    {% for bindName in SinkList %}
                                                                        <option>{{ bindName }}</option>
                                                                    {% endfor %}
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="form-group col-md-12">
                                                                <label for="t_table_savedata">储存表名</label>
                                                                <input name="f_table_savedata" type="text" class="form-control" id="t_table_savedata">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="tab-pane" id="box_p4_tab2">
                                                        <div class="form-group">
                                                            <label class="control-label">Python code template:</label>
                                                            <div>
                                                                <textarea rows="10" cols="5" name="f_tpl_savedata" class="form-control">{{ TemplateList[4] }}</textarea>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /Phase 4 Save Result -->
                                    <!-- Phase Global Customized Python Code -->
                                    <div class="box border inverse">
                                        <div class="box-title">
                                            <h4><i class="fa fa-puzzle-piece"></i><span class="hidden-inline-mobile">Customized Python Code</span></h4>
                                        </div>
                                        <div class="box-body">
                                            <div class="form-group">
                                                <label class="control-label">自定义Python代码段，将会以单独的文件存在并import到主处理文件：</label>
                                                <div>
                                                    <textarea rows="10" cols="5" name="f_customPyCode" class="form-control"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /Phase Global Customized Python Code -->
                                    <button type="submit" class="btn btn-success col-md-12">提交</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- /FORMS -->
                <div class="separator"></div>
                <div class="footer-tools">
                    <span class="go-top">
                        <i class="fa fa-chevron-up"></i> Top
                    </span>
                </div>
            </div><!-- /CONTENT-->
        </div>
    </div>
{% endblock %}

{% block LScript %}
    <!-- TYPEHEAD -->
    <script type="text/javascript" src="{{ url_for('LDashboard.static', filename='js/typeahead/typeahead.min.js') }}"></script>
    <!-- AUTOSIZE -->
    <script type="text/javascript" src="{{ url_for('LDashboard.static', filename='js/autosize/jquery.autosize.min.js') }}"></script>
    <!-- COUNTABLE -->
    <script type="text/javascript" src="{{ url_for('LDashboard.static', filename='js/countable/jquery.simplyCountable.min.js') }}"></script>
    <!-- INPUT MASK -->
    <script type="text/javascript" src="{{ url_for('LDashboard.static', filename='js/bootstrap-inputmask/bootstrap-inputmask.min.js') }}"></script>
    <!-- SELECT2 -->
    <script type="text/javascript" src="{{ url_for('LDashboard.static', filename='js/select2/select2.min.js') }}"></script>


    <script>
        jQuery(document).ready(function() {
            jQuery("#active-dashQuery").addClass("active");
            jQuery("#selected-dashQuery").addClass("selected");
            jQuery("#current-dashQuery-new").addClass("current");
            App.setPage("forms");  //Set current page
            App.init(); //Initialise plugins and elements
        });
    </script>
{% endblock %}