<component name="libraryTable">
  <library name="Spring MVC-4.3.13.RELEASE">
    <CLASSES>
      <root url="jar://$PROJECT_DIR$/RenResourceService/lib/spring-websocket-4.3.13.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/RenResourceService/lib/spring-webmvc-portlet-4.3.13.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/RenResourceService/lib/spring-web-4.3.13.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/RenResourceService/lib/spring-webmvc-4.3.13.RELEASE.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>