<component name="libraryTable">
  <library name="Spring Webflow-2.4.0">
    <CLASSES>
      <root url="jar://$PROJECT_DIR$/RenResourceService/lib/spring-js-2.4.0.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/RenResourceService/lib/spring-faces-2.4.0.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/RenResourceService/lib/spring-binding-2.4.0.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/RenResourceService/lib/spring-webflow-2.4.0.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/RenResourceService/lib/spring-js-resources-2.4.0.RELEASE.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>